<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create a new MindMup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="mind mapping, mind map, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="Mind map in the cloud. Zero-friction, free online mind mapping. Opensource mindmapping software. The most productive online mind map canvas on the Web. Supports Freemind mindmap import/export." />
    <link href="https://plus.google.com/u/0/communities/112831595986131146219" rel="publisher" />
    <link rel="shortcut icon" href="<%=settings.static_image_host%>/favicon.ico" >
    <link href="<%=settings.static_host%>/external.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="<%=settings.static_image_host%>/apple-touch-icon.png" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
       _gaq.push(['_setAccount', '<%= settings.google_analytics_account %>']);
       _gaq.push(['_trackPageview']);
      
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>
   <body>
     <div class="container">
       <div class="well">
         <h2>Upgrade to MindMup 2</h2>
         <p>You are using an old version of MindMup, which will be <b>removed on January 1st 2017</b>. </p>
         <p>Upgrade to MindMup 2 to manage files much easier with Google Drive, collaborate easier, export maps into many more formats and add nodes to maps easier.  </p>
         <p>Would you like to use the new version to create this map instead?</p>
         <p style="text-align:center">
         <a class="btn btn-large btn-success" href="https://drive.mindmup.com/map?state=%7B%22folderId%22%3A%22%22%2C%22action%22%3A%22create%22%7D">Use MindMup 2</a>
         <a class="btn btn-large" href="/map/new-g">Use the old version</a></p>
         </p>
         <p>For more information, check out:
         <a href="https://www.mindmup.com/tutorials/new_features_in_2.html">What's new in MindMup 2</a>, and
         <a href="https://www.mindmup.com/tutorials/migrating_from_legacy.html">Migrating from the old version</a>.
         </p>
       </div>
   </body>
 </html>
