<div class="hide">
	<div data-mm-role="legacy-alert">
    <strong>Upgrade to MindMup 2:</strong>
    You are using an old version of MindMup which will be <b>removed on 1 January 2017</b>. Upgrade to MindMup 2 to keep using the service
		<br/>
		<a data-category="Legacy Alert" data-event-type="Install" class="btn btn-small btn-success" data-mm-role="ios-appstore-alert-hide" target="_blank" href="https://www.mindmup.com/tutorials/migrating_from_legacy.html">Upgrade</a>&nbsp;
		<a data-category="Legacy Alert" data-event-type="More Info" class="btn btn-small btn-primary" target="_blank" href="https://www.mindmup.com/tutorials/new_features_in_2.html">More Info</a>&nbsp;
		<button data-category="Legacy Alert" data-event-type="Do not show" class="btn btn-small btn-danger"  data-mm-role="legacy-alert-hide">Do not show again</button>
	</div>
</div>
